# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.out

#nohup.out
nohup.out
# PyCharm 관련 파일 및 폴더 무시
.idea/
*.iml
workspace.xml
tasks.xml
usage.statistics.xml
datalore/
shelf/
node_modules/
