@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:wght@500&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5; /* 연한 회색 배경 */
}

h1 {
    text-align: center;
    color: #37474f; /* 어두운 회색 톤 */
}

p {
    color: #607d8b; /* 밝은 회색 톤 */
    text-align: center;
    margin-top: -10px;
}

form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}


fieldset {
  width: 100%; /* form의 내부 여백을 고려하여 너비 조정 */
  margin: 10px auto; /* 상하 10px, 좌우 마진 자동으로 중앙 정렬 */
  padding: 20px;
  box-sizing: border-box; /* 테두리와 내부 여백을 너비에 포함 */
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #b0bec5; /* 부드러운 회색 테두리 */
}
input[type=text], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #b0bec5; /* 부드러운 회색 테두리 */
    border-radius: 4px;
    box-sizing: border-box;
    /* 기존 input, select 스타일 유지 */
    font-weight: normal; /* 입력 필드의 글자는 기본 두께로 유지 */
}

textarea {
  width: 100%; /* 전체 너비 */
  padding: 10px; /* 내부 여백 */
  margin: 10px 0; /* 위아래 마진 */
  border: 1px solid #b0bec5; /* 부드러운 회색 테두리 */
  border-radius: 4px; /* 테두리 둥글게 */
  box-sizing: border-box; /* 너비 계산에 패딩과 테두리 포함 */
  font-family: 'Noto Sans KR', 'Roboto', sans-serif; /* 글꼴 */
  font-size: 1rem; /* 글꼴 크기 */
  line-height: 1.5; /* 줄 간격 */
  resize: vertical; /* 수직 방향으로만 크기 조정 가능 */
}

.container {
  display: flex;
  margin: 20px;
  width: calc(100% - 40px); /* 화면 전체 너비에서 마진을 제외한 너비 */
  flex-wrap: wrap;
  height: 100%; /* 화면의 전체 높이 */
  overflow: hidden; /* 스크롤바 방지 */
}

.addinfo_container {
  
  width: 100%; /* 전체 너비를 차지하도록 설정 */
  margin: 10px 0; /* 상하 마진 적용 */
}

.requester_container, .receiver_container {
  
  width: calc(50% - 20px); /* 상하 마진 적용 */
  flex: 1; /* 자동으로 크기 조절을 하지 않음 */
}

.requester_container {
  margin-right: 10px; /* requester_container의 오른쪽에 추가 마진 */
}

.receiver_container {
  margin-left:10px; /* receiver_container의 왼쪽에 추가 마진 */
}




input[type=submit] {
  width: calc(100% - 40px); /* form의 패딩을 고려하여 fieldset과 동일한 계산 */
  background-color: #546e7a; /* 어두운 회색 톤 */
  color: white;
  padding: 14px 20px;
  margin: 8px auto; /* 상하 8px 마진, 좌우 마진 자동으로 중앙 정렬 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; /* 너비 계산에 패딩과 테두리 포함 */
  display: block; /* 블록 레벨 요소로 만들기 */
}

input[type=submit]:hover {
  background-color: #455a64; /* 더 어두운 회색 톤 */
}


input[type=submit]:hover {
  background-color: #0056b3;
}

input[type=submit]:hover {
    background-color: #0056b3;
}

legend {
  width: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em; /* 필요에 따라 글꼴 크기 조정 */
  font-weight: bold; /* 글자 진하게 */
  color: #455a64; /* 어두운 회색 톤 */
}