@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:wght@500&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f9f9f9; /* 연한 회색으로 변경 */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #37474f; /* 진한 회색 톤으로 변경 */
}

p {
    color: #607d8b; /* 밝은 회색 톤으로 변경 */
    text-align: center;
    margin-top: -10px;
}

.container {
    display: flex;
    margin: 20px;
    width: calc(100% - 40px); /* 화면 전체 너비에서 마진을 제외한 너비 */
    height: 100vh; /* 화면의 전체 높이 */
    overflow: hidden; /* 스크롤바 방지 */
  }

.button-container, .explain-container, .pdf-viewer {
    border: 1px solid #b0bec5; /* 부드러운 회색 테두리로 변경 */
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 0 10px;
    flex: 0 0 auto; /* 자동으로 크기 조절을 하지 않음 */
}

.button-container {
    flex: 1;
}

.explain-container {
    flex: 1;
}

.pdf-viewer {
    flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
    overflow: auto; /* 필요한 경우 내부에서 스크롤 */
}

fieldset {
  width: 100%;
  border: none;
  padding: 0;
}

button {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #546e7a; /* 어두운 회색 톤으로 변경 */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #455a64; /* 더 어두운 회색 톤으로 변경 */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
