body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
.blue-container {
background-color: blue; /* 실제 색상 코드를 사용해야 합니다 */
padding: 20px;
}

.white-container {
background-color: #fff;
padding: 20px;
}

/* 지우고자 하는 부분에 해당하는 스타일 (예: 테두리 또는 배경 없음) */
.to-remove {
background: none;
border: none;
}
  